footer {
    background-color: #87CEEB;
    bottom: 0;
    position: absolute;
    width: 100%;


    .redes {
        text-align: center;

        .logoredes {
            width: 50px;
            padding: 5px;
        }
    }

    h4 {
        text-align: center;
    }
}