footer {
    background-color: rgb(4, 117, 0);
    bottom: 0;
    position: relative;
    width: 100%;


    .redes {
        text-align: center;

        .logoredes {
            width: 50px;
            padding: 5px;
        }
    }

    h4 {
        text-align: center;
    }
}