footer {
    background-color: rgb(4, 117, 0);
    padding-top: 2rem;
    padding-bottom: 1rem;

    .redes {
        text-align: center;

        .logoredes {
            width: 50px;
            padding: 5px;
        }
    }

    h4 {
        text-align: center;
    }
}