main {
    .container {
        min-height: 100vh;
        
    }
    .cajaOfertas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 400px;
        p {
            text-align: center;
        }
    }
}